.selectMarkup__lable {
  font-family: 'SB Sans Interface';
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.select_sex {
  width: 300px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}
select:hover,
select:focus {
  width: 300px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}
