.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 79px;
  height: 44px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid transparent;
}
.button__text {
  font-family: 'SB Sans Interface';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5558fa;
}
.button.blue {
  background: #5558fa;
  .button__text {
    color: #ffffff;
  }
  &.modalBtn {
    width: 109px;
    height: 44px;
    .button__text {
      width: 77px;
      height: 20px;
      margin: 0;
      font-size: 14px;
      font-family: SB Sans Interface;
      line-height: 20px;
    }
  }
}
.buttonAdd {
  margin-top: 8px;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border: #5558fa solid 2px;
}
#button-start {
  margin: 48px 0px;
}
