.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 79px;
  height: 44px;
  border-radius: 4px;
}
.button__text {
  width: 41px;
  height: 20px;
  font-family: 'SB Sans Interface';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5558fa;
}
.button.blue {
  background: #5558fa;
  .button__text {
    color: #ffffff;
  }
}

#button-start {
  margin: 48px 0px;
}
