div.profil {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 24px;
  div.profil__initials {
    text-align: center;
    background-color: #d5e4f7;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 24px;
    h1.profil__initials {
      text-transform: uppercase;
      color: #212830;
      margin-top: 14px;
      font-size: 40px;
    }
  }
  .profil__info {
    .profil__name {
      .name {
        font-family: 'SB Sans Interface';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: #333333;
      }
    }
    .links {
      display: flex;
    }
  }
}
